body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#map {
    height: 500px;
    width: 100%;
}

form {
    margin-top: 10px;
}

input {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 6px 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #004d99;
}